In [1]:
import pandas as pd
import pyarrow.parquet as pq

In [2]:
patients_df = pd.read_parquet('../Data/patients/')
patients_df.head(3)

  subject_id gender anchor_age anchor_year anchor_year_group         dod
0   10000032      F         52        2180       2014 - 2016  2180-09-09
1   10000048      F         23        2126       2008 - 2010        None
2   10000058      F         33        2168       2020 - 2022        None

In [3]:
patients_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364627 entries, 0 to 364626
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   subject_id         364627 non-null  object
 1   gender             364627 non-null  object
 2   anchor_age         364627 non-null  object
 3   anchor_year        364627 non-null  object
 4   anchor_year_group  364627 non-null  object
 5   dod                38301 non-null   object
dtypes: object(6)
memory usage: 16.7+ MB

In [4]:
distinct_subject_ids = patients_df['subject_id'].nunique()
print(f"Distinct subject IDs: {distinct_subject_ids}")

Distinct subject IDs: 364627

In [5]:
patients_df = patients_df[patients_df['dod'].isna()]
patients_df = patients_df.drop(columns=['anchor_year_group', 'dod'])
patients_df = patients_df.reset_index(drop=True)
patients_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326326 entries, 0 to 326325
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   subject_id   326326 non-null  object
 1   gender       326326 non-null  object
 2   anchor_age   326326 non-null  object
 3   anchor_year  326326 non-null  object
dtypes: object(4)
memory usage: 10.0+ MB

In [6]:
patients_df.to_parquet('../Data_cleaned/patients_df.parquet')

In [7]:
subject_ids = patients_df['subject_id'].astype(int).values

In [8]:
subject_ids

array([10000048, 10000058, 10000068, ..., 19999829, 19999914, 19999987])

In [9]:
del patients_df

In [20]:
diagnoses_icd_df = pd.read_parquet('../Data/diagnoses_icd/')
diagnoses_icd_df.head(3)

  subject_id   hadm_id seq_num icd_code icd_version
0   10000032  22595853       1     5723           9
1   10000032  22595853       2    78959           9
2   10000032  22595853       3     5715           9

In [21]:
diagnoses_icd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6364488 entries, 0 to 6364487
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   subject_id   object
 1   hadm_id      object
 2   seq_num      object
 3   icd_code     object
 4   icd_version  object
dtypes: object(5)
memory usage: 242.8+ MB

In [ ]:
diagnoses_icd_df = diagnoses_icd_df.drop(columns=['seq_num'])
filtered_diagnoses_icd_df = diagnoses_icd_df[diagnoses_icd_df['subject_id'].astype(int).isin(subject_ids)]
patients_df = patients_df.reset_index(drop=True)
filtered_diagnoses_icd_df.info()

   subject_id   hadm_id icd_code icd_version
39   10000068  25022803    30500           9
52   10000108  27250926     5283           9
53   10000108  27250926    52109           9
54   10000117  22927623    R1310          10
55   10000117  22927623    R0989          10